---
import Avatar from '../components/Avatar.astro';
import InlineLink from '../components/InlineLink.astro';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout
  title="Caleb D. Williams | Home"
  description="Hello, I'm Caleb. I'm a front-end developer located in Dallas, TX, USA."
>
	<main>
		<article class="home-content">
			<Avatar />
			<h1>Hello, I am Caleb.</h1>
			<h2>I am a front-end developer located in Dallas, TX, USA.</h2>

			<div class="quick-bio">
				<p>I am currently working for Capital One Auto Finance as a senior lead engineer where I am responsible for our <InlineLink href="/portfolio#work">internal design system</InlineLink>.</p>

				<p>I also work on various <InlineLink href="/portfolio#open-source">open source projects</InlineLink> on the side to help make other developer's lives easier (and mine, too).</p>

				<p>When I'm not writing code, I enjoy writing, playing guitar and spending time with my family.</p>
			</div>
		</article>

		<hr/>

		<section id="contact" class="contact">
			<h2>Get in touch</h2>
			<p>Interested to know how I can help on your next project? Reach out on <InlineLink href="https://www.linkedin.com/in/calebdavidwilliams">LinkedIn</InlineLink> or fill out the form below.</p>

			<form name="contact-caleb" method="POST" netlify>
				<div class="field">
					<label for="name">Your name</label>
					<input
            autocomplete="name"
            id="name"
            name="name"
            required
            type="text"
          >
				</div>

				<div class="field">
					<label for="email">Email address</label>
					<input
            autocomplete="email"
            id="email"
            name="email"
            required
            type="email"
          >
				</div>

				<div class="field">
					<label for="query">How can I help?</label>
					<textarea name="query" id="query"></textarea>
				</div>

				<div class="controls">
					<button type="submit">Let's chat</button>
				</div>
			</form>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-flow: column;
		gap: var(--size-7);
	}
	.home-content {
		display: flex;
		flex-flow: column;
		gap: 24px;
	}
	h1 {
		font-family: var(--font-sans);
		font-size: var(--font-size-fluid-3);
		font-weight: var(--font-weight-2);
	}
	h2 {
		color: var(--text-2);
		font-size: var(--font-size-fluid-1);
		font-weight: var(--font-weight-4);
	}
	p {
		font-size: var(--font-size-fluid-0);
		font-weight: var(--font-weight-4)
	}
	.contact,
	.quick-bio {
		display: flex;
		flex-flow: column;
		gap: 16px;
	}
	form, form > .field {
		display: flex;
		flex-flow: column;
	}
	form {
		max-width: var(--size-15);
		gap: 16px;
	}
	form > div {
		gap: 4px;
	}
  form > .controls {
    display: flex;
    justify-content: flex-end;
  }
	label {
		font-size: var(--font-size-fluid-0);
		font-weight: var(--font-weight-6);
	}
	form button {
		background: var(--brand);
		border-radius: var(--radius-2);
		color: var(--surface-1);
    font-size: var(--font-size-1);
    line-height: 1.5;
    padding: var(--size-2) var(--size-4);
	}
  form button:hover {
    background: var(--brand-hover);
  }
	.text-gradient {
		background-image: var(--gradient-1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
