---
import { getImage, Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';

import photo from '../assets/me.jpg';

const optimizedBackground = await getImage({ src: photo, format: 'avif' });
---

<Layout title="Welcome to Astro.">
	<main>
		<article class="home-content">
			<div
				class="avatar"
				style={ `background-image: url("${optimizedBackground.src}")` }
			></div>

			<h1>Hello, I am Caleb.</h1>
			<h2>I am a front-end developer located in Dallas, TX, USA.</h2>

			<div class="quick-bio">
				<p>I am currently working for Capital One Auto Finance as a senior lead engineer where I am responsible for design systems.</p>

				<p>I also work on various <a href="/projects">open source projects</a> on the side to help make other developer's lives easier (and mine, too).</p>

				<p>When I'm not writing code, I enjoy writing, playing guitar and spending time with my family.</p>
			</div>
		</article>

		<!-- <hr/>

		<section>
			<h2>Get in touch</h2>
			<p>Intersted to know how I can help on your next project? Reach on on <a href="https://www.linkedin.com/in/calebdavidwilliams">LinkedIn</a> or fill out the form below.</p>

			<form>
				<label for="given-name">Your name</label>
				<input name="given-name" id="given-name" required>
			</form>
		</section> -->
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-flow: column;
		gap: var(--size-7	);
	}
	.avatar {
		aspect-ratio: 1;
		background-position: 60% 30%;
		background-size: 230px;
		border-radius: 100%;
		transform: rotate(-10deg);
		transition: all 0.2s var(--ease-in-2);
		width: 140px;
	}
	.avatar:hover {
		box-shadow: var(--shadow-3);
		transform: rotate(5deg) scale(110%);
	}
	.home-content {
		display: flex;
		flex-flow: column;
		gap: 24px;
	}
	h1 {
		font-family: var(--font-sans);
		font-size: var(--font-size-fluid-3);
		font-weight: var(--font-weight-2);
	}
	h2 {
		color: var(--text-2);
		font-size: var(--font-size-fluid-1);
		font-weight: var(--font-weight-4);
	}
	p {
		font-size: var(--font-size-1);
		font-weight: var(--font-weight-4)
	}
	.quick-bio {
		display: flex;
		flex-flow: column;
		gap: 16px;
	}
	.text-gradient {
		background-image: var(--gradient-1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
