---
interface Props {
  alignSelf: 'start' | 'center' | 'end';
}

import { getImage } from 'astro:assets';
import photo from '../assets/avatar.jpg';

const optimizedBackground = await getImage({ src: photo, format: 'avif' });

const { alignSelf } = Astro.props;
---

<div
  aria-label="A photo of Caleb Williams looking out of frame to his right, the viewer's left."
  class:list={[ 'avatar', alignSelf ]}
  role="img"
  style={ `background-image: url("${optimizedBackground.src}")` }
></div>
<style>
  .avatar {
		aspect-ratio: 1;
		/* background-position: 60% 30%; */
		background-size: cover;
		border-radius: 100%;
    overflow: hidden;
    position: relative;
		transform: rotate(0deg);
		transition: all 0.2s var(--ease-in-2);
		width: 140px;
	}
  .avatar::before {
    background: var(--gradient-24);
    border-radius: 100%;
    content: "";
    transition: all 0.2s var(--ease-in-2);
    mix-blend-mode: color;
    position: absolute;
      inset: 0;
    opacity: 0;
  }
	.avatar:hover {
		box-shadow: var(--shadow-2);
		transform: rotate(5deg) scale(110%);
	}
  .avatar:hover::before {
    opacity: 1;
  }
  .center {
    align-self: center;
  }
  .end {
    align-self: flex-end;
  }
</style>
