---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h3>
			{title}
			<span>&rarr;</span>
		</h3>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		border-image-source: var(--gradient-18);
		border-image-slice: 1;
    border-radius: var(--radius-2);
		border-width: var(--border-size-1);
		box-sizing: border-box;
		max-inline-size: unset;
		orphans: 3;
    transition: all 0.4s var(--ease-in-2);
	}
  .link-card--hidden {
    opacity: 1;
    transform: translateY(0);
  }
  @media (prefers-reduced-motion: no-preference) {
    .link-card--hidden {
      opacity: 0;
      transform: translateY(40%);
    }
  }
  .link-card--visible {
    opacity: 1;
    transform: translateY(0);
  }
	.link-card h3 {
		font-size: var(--font-size-fluid-1);
		font-weight: var(--font-weight-3);
	}
	.link-card p {
		font-size: var(--font-size-fluid-0);
    text-wrap: balance;
	}
	.link-card a {
    color: var(--text-1);
		display: block;
		opacity: 80%;
		padding: var(--size-2) var(--size-3);
	}

	.link-card:has(:focus),
	.link-card:has(:hover) {
		background: var(--sand-12);
  }

	.link-card:has(:focus) h3,
	.link-card:has(:hover) h3 {
    background: var(--gradient-24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .link-card:has(:focus) a,
  .link-card:has(:hover) a {
    color: var(--gray-2);
    opacity: 100%;
	}
  .glow {
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    mask:
      linear-gradient(#0000, #0000),
      conic-gradient(#0000 0deg, #​fff, #0000 45deg);
  }
  @media (prefers-contrast: more) {
    .link-card a {
      color: var(--gray-13);
    }
    .link-card:has(:focus) h3,
    .link-card:has(:hover) h3 {
      background: unset;
      color: var(--gray-2);
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }
  @keyframes reveal-on-scroll {
    from {
      opacity: 0;
      transform: scale(90%);
      to {
        opacity: 1;
        transform: scale(100%);
      }
    }
  }
  @supports (animation-timeline: scroll()) {
    .link-card {
      animation: reveal-on-scroll linear;
      animation-timeline: view();
      animation-range: cover cover 200px;
    }
    @media (prefers-reduced-motion: no-preference) {
    }
  }
</style>
