---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h3>
			{title}
			<span>&rarr;</span>
		</h3>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		border-image-source: var(--gradient-18);
		border-image-slice: 1;
		border-width: var(--border-size-1);
		box-sizing: border-box;
		max-inline-size: unset;
		orphans: 3;
		transition: all 0.4s var(--ease-in-2);
	}
  @media (prefers-reduced-motion: no-preference) {
    .link-card {
      opacity: 0;
      transform: translateY(40%);
    }
  }
  .link-card--visible {
    opacity: 1;
    transform: translateY(0);
  }
	.link-card h3 {
		font-size: var(--font-size-fluid-1);
		font-weight: var(--font-weight-3);
	}
	.link-card p {
		font-size: var(--font-size-fluid-0);
	}
	.link-card a {
    color: var(--text-1);
		display: block;
		opacity: 80%;
		padding: var(--size-2);
	}

	.link-card:has(:focus),
	.link-card:has(:hover) {
		background: var(--sand-12);
		border-image-source: var(--gradient-24);
  }

	.link-card:has(:focus) h3,
	.link-card:has(:hover) h3 {
    background: var(--gradient-24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .link-card:has(:focus) a,
  .link-card:has(:hover) a {
    color: var(--gray-2);
    opacity: 100%;
	}
  @media (prefers-contrast: more) {
    .link-card a {
      color: var(--gray-13);
    }
    .link-card:has(:focus) h3,
    .link-card:has(:hover) h3 {
      background: unset;
      color: var(--gray-2);
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }
</style>
