---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		border: 12px solid;
		border-image-slice: 1;
		border-width: 6px;
		box-sizing: border-box;
		transition: all 0.2s var(--ease-in-2);
	}
	.link-card h2 {
		font-size: var(--font-size-fluid-1);
	}
	.link-card p {
		font-size: var(--font-size-1);
	}
	.link-card a {
		display: block;
		opacity: 80%;
		padding: var(--size-2);
	}
	.link-card:has(:focus),
	.link-card:has(:hover) {
		border-image-source: var(--gradient-1);

		& a {
			opactiy: 100%;
		}
	}
</style>
