---
interface Props {
	href: string;
}

const { href } = Astro.props;
---
<a href={href}><slot/></a>
<style>
  a {
    color: var(--brand);
    text-decoration: underline;

    &:hover,
    &:visited:hover {
      color: var(--brand-hover);
      text-decoration-color: var(--brand);
    }

    &:visited {
      color: var(--brand);
    }
  }
</style>
