---
interface Props {
	href: string;
}

const { href } = Astro.props;
---
<a href={href}><slot/></a>
<style>
  a {
    color: var(--brand);
    text-decoration: underline;
  }


  a:hover,
  a:visited:hover {
    color: var(--brand-hover);
    text-decoration-color: var(--brand);
  }

  a:visited {
    color: var(--brand);
  }
</style>
