---
---

<nav class="main-nav">
    <ul>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="https://github.com/calebdwilliams">GitHub</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/calebdavidwilliams">LinkedIn</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>
<style>
    .main-nav {
        margin-top: var(--size-8);

        & ul {
            display: flex;
            font-size: var(--font-size-0);
            gap: 12px;
            justify-content: flex-end;
            list-style-type: none;

            & li a {
                color: var(--text-2);
                text-decoration: underline;
            }

        }
    }
</style>