---
---

<nav class="main-nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/portfolio">Portfolio</a>
    </li>
    <li>
      <a href="https://github.com/calebdwilliams">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/calebdavidwilliams">LinkedIn</a>
    </li>
    <li>
      <a href="/#contact">Contact</a>
    </li>
  </ul>
</nav>
<style>
  .main-nav {
    grid-area: nav;
    margin-top: var(--size-8);
  }

  .main-nav.pinned {
    background: black;
  }

  .main-nav.pinned ul {
    padding-top: 16px;
  }

  .main-nav ul {
    display: flex;
    font-size: var(--font-size-0);
    gap: 12px;
    justify-content: flex-end;
    list-style-type: none;
  }

  .main-nav ul li a {
    color: var(--text-2);
  }

  .main-nav ul li a:hover {
    text-decoration: underline;
  }
</style>
<script>
  const el = document.querySelector(".main-nav")!;
  const observerCallback = (([entry]: IntersectionObserverEntry[]) => {
    console.log(entry);
    entry.target.classList.toggle('pinned', entry.intersectionRatio < 1)
  });
  const observer = new IntersectionObserver(observerCallback, { threshold: 1 });
  // const observer = new IntersectionObserver(
  //   ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
  //   { threshold: [1] }
  // );

  // observer.observe(el);
</script>
